{% extends 'CaserneBundle::layout.html.twig' %}

{% block main -%}
    <h1>{{ entityName}}</h1>

        {% for fieldname in fieldsName %}
            <div class="entity_field">
                {{ attribute(entity, fieldname) }}
            </div>
        {% endfor %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('caserne_entityaccess_postrouteur_index', {'entity' : entityName }) }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('caserne_entityaccess_postrouteur_index', {'entity' : entityName,
                                                                      'slug': entity.slug,
                                                                      'action': 'edit' }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}