{% extends '::base.html.twig' %}

{% block body -%}


    <script>

        $( document ).ready(function() {

            $(".bouton-valider").bind("click", function () {
                $(this).parent().css("display", "none");

                id = $(this).attr("id");
                console.log(id);

                $.ajax({
                    url: "/calendrier/"+id,
                    type: 'PUT',
                    data: {id: id},
                    success: function(result) {
                        console.log(result);
                    }
                });

                $("button").click(function(event) {
                    this.css("display", "none");
                });
            });
        });

    </script>
    <h1>Calendrier list</h1>
    <div class="main">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pompier</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('calendrier_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nom }} {{ entity.prenom }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('calendrier_show', { 'id': entity.id }) }}">show</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('calendrier_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>



    {% endblock %}
